﻿@using PagedList.Mvc
@model AmazonViewerWebApp.ViewModels.IndexViewModel

<div id="amazonPartialView">
    <table class="table table-responsive table-striped">
        <tr>
            <th>
                Title
            </th>
            <th>
                Price
            </th>
            <th>
            </th>
        </tr>

        @foreach (var item in Model.AmazonItems)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>

            </tr>
        }

    </table>
    <br />
    Page @(Model.AmazonItems.PageCount < Model.AmazonItems.PageNumber ? 0 : Model.AmazonItems.PageNumber) of @Model.AmazonItems.PageCount
    @Html.PagedListPager(Model.AmazonItems, page => Url.Action("Index", "Home", new { page, searchString = Session["searchString"], currencyText = Session["currencyText"] }))
</div>
