﻿@model AmazonViewerWebApp.ViewModels.IndexViewModel
@using System.Web.UI.WebControls
@using PagedList.Mvc;
@{
    ViewBag.Title = "Home Page";
}

@section Scripts{
    <script src="~/Scripts/Amazon/site.js"></script>


}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1>Amazon Viewer</h1>
        <div>         
            @using (Html.BeginForm("Index", "Home", FormMethod.Get))
            {
                <div class="form-group">
                    @Html.Label(@"Enter currency (EUR etc):", new { @class = "control-label" })
                    @Html.TextBox("currencyText", Session["currencyText"], new { @class = "form-control" })
                                    
                </div>
                <div class="form-group">
                    @Html.Label("Find by title:", new { @class = "control-label" })
                    @Html.TextBox("searchString", Session["searchString"], new { @class = "form-control" })
                </div>
                    <div class="form-group">
                        <input type="submit" value="Search" class="btn btn-success" />
                    </div>
            }
            @Html.Partial("AmazonPartialView", Model)
          
        </div>
    </div>
</div>


